.donut {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: conic-gradient(
                  #CAB786 0deg 90deg,
                  #C4C4C4 90deg 360deg
  );


  position: relative;

  & span {
    content: '80%';
    position: absolute;
  }


}

.hole {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.donut {
  display: flex;
  align-items: center;
  justify-content: center;
}