.header,
.footer {
  height: 100px;


  .title-site {
    position: relative;
    padding-left: 38px;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 23px;
      height: 23px;
      margin-top: -12px;
      background: url("/img/circle.png") center no-repeat;
    }

    &:hover {
      color: $color-darkgray;
      text-transform: uppercase;
      text-decoration: none;
    }
  }


}

.header {
  border-bottom: 1px solid $color-gray;
  margin-bottom: 110px;
}

.footer {
  border-top: 1px solid $color-gray;

  margin: 150px 0 100px;

  @media screen and (max-width: 1024px) {
    margin: 100px 0 50px;
  }
  @media screen and (max-width: 667px) {
    margin: 30px 0;
  }
}