h1 {
  font-size: 2rem;
}


/*h2 {
  font: 500 54px/1.5 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0;
  @media screen and (max-width: 1024px) {

  }
  @media screen and (max-width: 667px) {

  }
}*/

.title-page {
  & > p {
    &:first-child {
      text-transform: uppercase;
    }
  }
}

.table-title {
  padding: 15px 50px;
  display: flex;
  align-items: center;
  background-color: $color-gray;
  color: $color-darkgray;
}

