/* ATTENTION! the scss compiler works. can not add styles to /css/main.css */
@import "layout/variables",  "layout/common", "header-footer", "donut";


.container {
  @media (min-width: 576px) {
    max-width: 100%;
  }

  @media (min-width: 760px) {
    max-width: 100%;
  }
  @media (min-width: 1200px) {
    max-width: 1520px;
  }


}



.indent {
  margin: 70px auto;
  @media screen and (max-width: 1024px) {
    margin: 40px auto;
  }
  @media screen and (max-width: 667px) {
    margin: 30px auto;
  }
}
.indent-t {
  margin-top: 70px;
  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 667px) {
    margin-top: 30px;
  }
}
.indent-b, {
  margin-bottom: 70px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 667px) {
    margin-bottom: 30px;
  }
}


.analytics-list {
  article:not(:last-child) {
    margin-bottom: 70px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 667px) {
      margin-bottom: 25px;
    }
  }
}

/* ATTENTION! the scss compiler works. can not add styles to /css/main.css */