.btn {
  border-radius: 0;
  text-transform: uppercase;
  max-width: 270px;
  width: 270px;
  //height: 60px;
  padding: 16px;

  &:hover {
    color: $color-light;
    background-color: $color-darkgray !important;
    border-color: $color-darkgray !important;
  }

  &-search {
    border: 0;
    width: 45px;
    height: 45px;
    background-color: $color-light !important;
    background: url("/img/search.png") center no-repeat;
    border: 1px solid $color-darkgray;
    border-left: 0;

    &:hover {
      background-color: $color-light !important;
      border-color: #ced4da !important;
    }
  }

  &-free,
  &-busy,
  &-booking {
    width: 270px;
    max-width: 270px;
    height: 60px;
    margin-bottom: 20px;
    color:$color-light!important;

    &:hover {
      border-color: transparent !important;
    }
  }
//
  &-free,
  &-free:hover{
    background-color: $scheme-free !important;
  }

  &-busy,
  &-busy:hover {
    background-color: $scheme-busy !important;
  }

  &-booking,
  &-booking:hover {
    background-color: $scheme-booking !important;
  }


}

.list-btn {
  /* display: grid;
   grid-template-columns: repeat(3, auto);
   grid-gap: 20px;
   justify-items: end;*/
  display: flex;
  justify-content: end;
  gap: 20px;
}