$text-color: #4F4F4F; //

@import "table", "logo", "form",  "nav", "btn";

* {
  font: 400 16px/1.3 'Roboto', sans-serif;
  color: $text-color;
  transition: font-size .4s ease;

}

a {
  color: #1B1D36;
}

body {
  background-color: #fff;
  color: $text-color;
}

:focus {
  outline: 0;
  box-shadow: none;
}

.form-control {
  outline: 0;
  box-shadow: none;
  border-radius: 0;

  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: #333;
  }
}





/*

img {
  width: 100%;
  height: auto;
}

*/

