.form-select {
  padding: 10px 12px;
  border-radius: 0;
  border-color: $color-darkgray;
}

.form-control:focus{
  box-shadow: none;
  background-color: transparent !important;
  border-color: $color-darkgray !important;
}
.search {
  input {

    border-color: $color-darkgray !important;
    border-right: 0;
  }
}