.nav {
  &-link {
    color: $color-darkgray;
    text-transform: uppercase;
  }

  &-pills {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, auto);
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(4, auto);
    }
    @media screen and (max-width: 667px) {
      grid-template-columns: repeat(3, auto);
    }
  }

  &-pills &-link {
    width: 100%;
    height: 60px;
    background: 0 0;
    border: 1px solid $color-darkgray;
    border-radius: 0;
  }

  &-pills &-link:hover,
  &-pills &-link.active,
  &-pills .show > &-link {
    color: $color-light;
    background-color: $color-darkgray;
  }
}


