.table {
  &_analytics {


    & td {
     // height: 60px;
      padding: 20px 50px;
      &:first-child {
      }
    }

    & td:last-child {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: -1px;
        bottom: -1px;
        right: 0;
        width: 15px;

      }
    }


    & tr:nth-child(1) td:last-child {
      &:after {
        top: 0;
        background-color: $table-bg-lightgray;
      }
    }
    & tr:nth-child(2) td:last-child {
      &:after {
        background-color: $table-bg-gold;
      }
    }
    & tr:nth-child(3) td:last-child {
      &:after {

        bottom: 0;
        background-color: $table-bg-darkgray;
      }
    }
  }

}