$color-light: #fff;

$color-lightgray:#F3F2F2;
$color-gray: #C4C4C4;
$color-darkgray: #4F4F4F;

$color-gold: #CAB786;

$color-red: #EC4608;
$color-green: #98BF00;
$color-yellow: #F8AF2B;

$table-bg-lightgray: $color-lightgray;
$table-bg-darkgray: $color-gray;
$table-bg-gold: $color-gold;

$scheme-free: $color-green;
$scheme-busy: $color-red;
$scheme-booking: $color-yellow;


